

<nav class="navbar navbar-expand-sm bg-light" style="background-color: #45a1ff !important;">
    <div class="container-fluid">
      <img src="../../../../assets/marsupilami.jpg" style="border-radius: 37%;" width="10%">
      <ul class="navbar-nav" *ngIf=true>
        <li class="nav-item">
          <a style="cursor: pointer;color: white;"  (click)="redirectToRegister()" class="nav-link" routerLinkActive="active">
            Sign Up
          </a>
        </li>
        <li class="nav-item">
          <a style="cursor: pointer;color: white;"  (click)="redirectToLogin()" class="nav-link" routerLinkActive="active">
            Login
          </a>
        </li> 
      </ul>
      <ul class="navbar-nav"  *ngIf=false >
        <li class="nav-item">
          <a (click)="redirectToLogin()" class="nav-link" routerLinkActive="active">
            log Out
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <div class="container">
    <div style="    text-align: -webkit-center;">  
      <div class="card" style="width: 60%;">
          <div class="card-title" style="font-size: larger;text-align: center;margin-top: 10px;">Login</div>
          <hr>
          <div class="card-body">
            <form [formGroup]="angForm" novalidate>
              <div class="form-group" style="text-align: left;">
                <label class="col-md-4">Username</label>
                <input type="text" id = "username" class="form-control" formControlName="username" />
              </div>
              <div *ngIf="angForm.controls['username'].invalid && (angForm.controls['username'].dirty || angForm.controls['username'].touched)" class="alert alert-danger">
                  <div *ngIf="angForm.controls['username'].errors.required">
                    Username is required.
                  </div>
                </div>
              <div class="form-group" style="text-align: left;">
                <label class="col-md-4">Password </label>
                <input type="password" id = "password"  class="form-control" formControlName="password"/>
              </div>
              <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)" class="alert alert-danger">
                  <div *ngIf="angForm.controls['password'].errors.required">
                    password is required.
                  </div>
                </div>
              <div class="form-group">
                <button style="width: 100%;"
                (click)="login('username', 'password')"
                class="btn btn-primary">Connect</button>
              </div>
            </form>
          </div>
        </div>
  </div>
  
  </div>
  
  
  
